/*body color*/
body {
  background-color: #ffffff;
}

.img-container {
  display: flex;
  justify-content: center;
}

/*nav flexbox*/
nav {
  background-color: #a7adad;
  padding: 0 20px;
  overflow: hidden;
}
/*image settings*/
img {
  overflow: hidden;
  border-style: dashed;
  padding-bottom: 10px;
  display: flex;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 0;
  flex-direction: row;
  align-items: center;
}
/*navigation*/
nav li {
  display: inline-block;
}

nav a:link,
nav a:hover {
  background-color: #3d1f1f;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 32px;
  font-family: "Playfair Display", serif;
  border-radius: 5px;
}

/* Main */
main {
  color: #596464;
  background-color: #cfd2dd;
  padding: 20px;
  border-style: dashed;
  text-align: center;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  line-height: 30px;
}
/*main links*/
main a:link {
  color: #f4f0f8;
}
main a:visited {
  color: #f2f5f6;
}
main a:hover {
  color: #4a5959;
}
main a:focus {
  color: #897f93;
}
main a:active {
  color: #ff6347;
}
p {
  text-align: justify;
}
/*headings*/
h1 {
  padding: 20px;
  font-size: 30px;
  font-family: "Playfair Display", serif;
  line-height: 30px;
  text-align: center;
  color: #55070b;
  background-color: #5f5f5f;
}

h2 {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  line-height: 30px;
  text-align: center;
  color: #55070b;
}
h3 {
  text-align: left;
}
/*links style*/
a {
  padding: 10px;
  font-family: "Playfair Display", serif;
  text-decoration: none;
}
/*more link settings*/
a:link {
  color: #f6f6f6;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}
a:visited {
  color: #efecf3;
}
a:hover {
  border-style: dotted solid double dashed;
  color: #5c9eaf;
}
a:focus {
  color: #afc3c3;
}
a:active {
  color: #897f93;
}

/*footer style*/
footer {
  background: #839292;
  color: #352c2c;
  text-align: center;
  padding: 10px;
  font-family: "Noto Sans", sans-serif;
  width: 100%;
}

footer a:link {
  color: #292222;
}
footer a:visited {
  color: #53b3cb;
}
footer a:hover {
  color: #4a5959;
}

/*list styles*/
ul {
  list-style-type: square;
  margin: 20px 0;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
  padding-left: 20px;
}

ul li::marker {
  color: #b9cdda;
}

/*float #picture*/
.index-img {
  float: none;
  margin: 10px;
}
